.bg-green {
    --background:#067302;
}
.bg-red {
    --background: #730e02;
}
.button-container {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.label-radio {
    font-size: 14px !important;
    font-weight: 400 !important;
}